<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>A dos metros de ti</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<div id="hola">
			<marquee>A dos metros de ti</marquee>
		</div>
		<nav id="F">
									
				<td><button><a href="/M%20Y%20L/libros.html">"Libreria Maga ;)"</td></button></a>
									
		</nav>
		<section id="hola1">
			<center><img src="a dos metros de ti.jfif" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>
			Puede que el título A dos metros de ti te resulte cómodo, pero no como libro, sino como película. En ese momento (2019) fue un éxito (aunque con encuestas mixtas). Aquí podrás conocer todo acerca del resumen de A Dos metros de ti y los personajes que van detrás de el.
			</p>
			
			<p>
			En cualquier caso, es posible que no te des cuenta de que realmente hay un libro en el que se basó la película, y que cuenta bastante más de la historia.
			</p>
			
			<p>
			Stella Grant es una persistente de la fibrosis quística que utiliza eficazmente los medios de comunicación basados en la web para adaptarse a su enfermedad e intenta llevar una vida ordinaria.
			</p>

		</section>
			<header id="hola3">
			<p>
				os pacientes con FQ se colocan cuidadosamente a dos metros de distancia unos de otros para disminuir el peligro de enfermedades cruzadas, ya que contraer contaminaciones bacterianas de otros pacientes con FQ puede ser peligroso.
			</p>
			<p>
				Stella está decidida a mantener las normas y al principio aversiona a Will, a quien le gusta desafiar las normas y enfrentarse a retos peligrosos siempre que la situación lo permite. Stella comprende que Will no está siguiendo cuidadosamente su rutina de tratamiento y al final consigue que consienta en hacerlo.


			</p>

			</header>
			<section id="hola4">
			<p>
			Will empieza a explorar a Stella y encuentra un vídeo de su hermana, Stella le comenta que su hermana falleció en un percance en el cumpleaños de Stella. Después, Will y Stella comienzan a mirarse con ojos de estrella y a escondidas tienen su primera cita. Terminan en la piscina de la clínica de urgencias.
			</p>
			<p>
			Al día siguiente es el cumpleaños de Will y Stella coordina una cena inesperada para él con la ayuda de Poe, el compañero más cercano de Stella. Cuando los compañeros de Will y los de Stella estaban allí, inevitablemente los encuentran y les aconsejan que vayan con sus ocupantes.
			</p>

		</section>
		<footer id="pie">
			<h6><a href="">consulta nuestra polica de privacidad.</a><h6>
		</footer>
	</body>
</html>