<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>Antes de ella(boulevard #3)</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<div id="hola">
			<marquee>Antes de ella</marquee>
		</div>
		<nav id="F">
									
				<td><button><a href="/M%20Y%20L/libros.html">"Libreria Maga ;)"</td></button></a>
									
		</nav>
		<section id="hola1">
			<center><img src="antes de ella.jpg" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>
			«Nunca imaginó que la vida podía ser así, pero si lo hubiera hecho tampoco le habría importado. No le interesaba nada, ni él mismo hasta que llegó ella. Antes de ella estaba vacío, antes de ella no sabía lo que era la felicidad o la plenitud, y éste es su viaje hacia su vida con ella.»
			</p>
			
			<p>
			Este nuevo libro, explora la historia del amor infinito entre Tessa y Hardin desde otro punto de vista. Narrada por Hardin y otros protagonistas de la serie, descubrirás nuevas historias, nuevos momentos y una nueva mirada a la historia de estas dos almas gemelas.
			</p>
			
			<p>
			«Estoy muy emocionada con la publicación del nuevo libro de la serie After. Para los lectores que han estado conmigo desde el principio, esta entrega es una de las más esperadas: podrán ver lo que pasa por la mente de Hardin durante After. Una nueva dosis de “Hessa” con un montón de contenido nuevo y alguna sorpresa.»
			</p>
		</section>
			<header id="hola3">
			<p>
				Enamorarse nunca fue parte de sus planes y, mucho menos, perder a alguien. Aunque la vida es como un par de dados; nunca sabes que caerá.
			</p>			
			<p>
				Antes de Hasley Weigel, hubo alguien mas, Bella Adams fue la primera historia de amor que Luke tuvo, sin embargo, no tan fuerte como su última.
			</p>
			<p>
			¿Qui&eacute;n dijo que despu&eacute;s de la tormenta sale el sol cuando puede haber un rayo?
			</p>
			</header>
			<section id="hola4">
			<p>
			Antes de ella Flor M. Salvador 3.98 8,255 ratings579 reviews Enamorarse nunca fue parte de sus planes y, mucho menos, perder a alguien. Aunque la vida es como un par de dados; nunca sabes que caerá. Antes de Hasley Weigel, hubo alguien mas, Bella Adams fue la primera historia de amor que Luke tuvo, sin embargo, no tan fuerte como su última.
			</p>
			<p>
			«Es como si cada uno fuera un cielo. Uno es tormenta y el otro un día soleado». Luke y Hasley no 
			eran el prototipo de una pareja perfecta. Sin embargo, ambos le pusieron deﬁnición a lo que ellos 
			crearon. Una historia de dos adolescentes que crean su propio boulevard ante la llovizna que hay 
			en sus corazones, donde se entremezcla, por un lado, un azul cálido, y por el otro, un azul 
			eléctrico, tiñéndose este por completo de un gris nostálgico.
			</p>

		</section>
		<footer id="pie">
			<h6><a href="">consulta nuestra polica de privacidad.</a><h6>
		</footer>
	</body>
</html>