<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>Atravez de mi ventana</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<div id="hola">
			<marquee>Atravez de mi ventana</marquee>
		</div>
		<nav id="F">
									
				<td><button><a href="/M%20Y%20L/libros.html">"Libreria Maga ;)"</td></button></a>
									
		</nav>
		<section id="hola1">
			<center><img src="atravez de mi ventana.jfif" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>
			A través de mi ventana es una película española original de Netflix del género romance. Es una adaptación de la novela homónima de la escritora venezolana Ariana Godoy, publicada originalmente en Wattpad. Está dirigida por Marçal Forés y protagonizada por Clara Galle y Julio Peña. Se estrenó el 4 de febrero de 2022.
			</p>
			
			<p>
			Cuenta la historia de Raquel, una joven que se siente atraída por su vecino, Ares Hidalgo, un chico "enigmático" al cual acosa desde las sombras, pero Ares no sabe de su existencia. No obstante, se propone que deje de ser así: está dispuesta a enamorarlo sea como sea, incluso dejando de lado a esa Raquel buena y educada que todos conocen para impresionarlo.
			</p>
			
			<p>
			La autora Ariana Godoy comenzó a escribir la novela en la que se basó la película en la plataforma de lectura en línea Wattpad en 2016.
			</p>

		</section>
			<header id="hola3">
			<p>
				 Tras el éxito de la historia, que acumula más de 250 millones de visualizaciones en la plataforma, las editoriales de diversos países convocaron a la escritora para publicar la novela en formato físico, siendo adaptada en España por la editorial Alfaguara
			</p>
			<p>
				En abril de 2021, la empresa de vídeos bajo demanda, Netflix, anunció la producción de la película en España para ser estrenada a nivel mundial a través de la plataforma.
			</p>
			</header>
			<section id="hola4">
			<p>
			No obstante, se propone que deje de ser así: está dispuesta a enamorarlo sea como sea, incluso dejando de lado a esa Raquel buena y educada que todos conocen para impresionarlo.
			</p>
			<p>
			​ El éxito de la cinta hizo que la plataforma renovase la película por dos partes más, centrándose en la historia de Ares y Raquel, al contrario que la trilogía de la novela
			</p>
		</section>
		<footer id="pie">
			<h6><a href="">consulta nuestra polica de privacidad.</a><h6>
		</footer>
	</body>
</html>