<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>Atravez de la lluvia</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<div id="hola">
			<marquee>Atravez de la lluvia</marquee>
		</div>
		<nav id="F">
									
				<td><button><a href="/M%20Y%20L/libros.html">"Libreria Maga ;)"</td></button></a>
									
		</nav>
		<section id="hola1">
			<center><img src="atraves de la lluvia.jfif" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>
			Llega el esperado final de la saga Hidalgos, el cierre de la exitosa serie de "A través de mi ventana", que será adaptada por NETFLIX. Descubre la nueva novela de la trilogía Hermanos Hildago.
			</p>
			
			<p>
			Apolo Hidalgo es el menor de los tres hermanos Hidalgo, un chico dulce y lleno de buenas intenciones: un chico bueno. Cualquiera pensaría que le iría bien en el amor y en la vida, pero ¿será así? ¿Y si a las chicas que encuentra en su camino no le gustan los chicos buenos? ¿Y si sus buenas intenciones y buen corazón no son suficientes? A los chicos también les pueden romper el corazón y Apolo lo sabe mejor que nadie. Descubre el final de la trilogía Hermanos Hildago.
			</p>
			
			<p>
			Puede que la trilogía de los Hermanos Hidalgo no sea la favorita de mucha gente, y puedo llegar a entender los motivos. Sin embargo, para mí siempre han sido unos libros para disfrutar, pasar el rato y divertirme. Y ahora, por muy extraño que parezca, incluso para reflexionar.
			</p>

		</section>
			<header id="hola3">
			<p>
			¿La verdad? Empecé este libro hace tres años, supongo que quería saber cómo terminaba hasta que llegó un punto en el que la historia ya no me importaba, crecí y bueno, claramente la historia ya no se ajustaba a lo que leo actualmente. Pero, cuando Ariana dijo que sacaría cada semana actualizaciones y que iba a publicarse pronto... Me olía muy mal.
			</p>
			<p>
				Y esto es un claro ejemplo de escribir a las prisas, la historia perdió el rumbo, incluso la misma autora hablaba de lo que sería su libro y empezaba a soltar algunas incoherencias. Es una historia que solo se terminó por terminar y en el proceso olvidó personajes que se supone que debían ser importantes. Diría más cosas pero creo que es suficiente.
			</p>
			<p>
				No creo que la versión en físico cambie mucho tampoco, solo puedo decir que por fin se acabó. Para bien o para mal.
			</p>

			</header>
			<section id="hola4">
			<p>
			
			</p>
			<p>
			Apolo Hidalgo es el menor de los tres hermanos Hidalgo, un chico dulce y lleno de buenas intenciones: Un chico bueno. Cualquiera pensaría que le iría bien en el amor y en la vida, pero, ¿será así? ¿Y si a las personas que encuentra en su camino no le gustan los chicos buenos? ¿Y si sus buenas intenciones y buen corazón no son suficientes? A los chicos también les pueden romper el corazón y Apolo lo sabe mejor que nadie.
			</p>
			
			<p>
			Llega el esperado final de la saga Hidalgos, el cierre de la exitosa serie de "A través de mi ventana", que será adaptada por NETFLIX. Descubre la nueva novela de la trilogía Hermanos Hildago.
			</p>

		</section>
		<footer id="pie">
			<h6><a href="">consulta nuestra polica de privacidad.</a><h6>
		</footer>
	</body>
</html>