<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>Boulevard</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<div id="hola">
			<marquee>Boulevard</marquee>
		</div>
		<nav id="F">
									
				<td><button><a href="/M%20Y%20L/libros.html">"Libreria Maga ;)"</td></button></a>
									
		</nav>
		<section id="hola1">
			<center><img src="2.jpeg" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>
			Una historia en donde dos adolescentes crean su propio Boulevard ante la llovizna
			que hay en sus corazones, con un cielo pintado de azul cálido en una parte y otra
			de un azul eléctrico, tiñéndose este por completo de un grisáceo nostálgico.
			</p>
			
			<p>
			Esta no es la primera vez que una novela latinoamericana tiene una adaptación, 
			pues A través de mi ventana estrenó su película en Netflix el pasado 4 de 
			febrero de 2022.
			</p>
			
			<p>
			Boulevard habla de problemas que son comunes y habla sobre como el amor te puede 
			llevar a hacer cosas que nunca pensaste hacer. El final de boulevard es algo que 
			no esperaba. Te enseña mucho a valorar la vida y a quienes te rodean.
			</p>
			<p>
			Después de la muerte de Luke. Hasley debe seguir con su vida, viviendo de su 
			primer amor. Las sabias palabras de su madre diciéndole que debía continuar, que 
			aún era joven y podía encontrar a alguien mas, no eran aceptadas para ella. Sin 
			embrago, la vida esta llena de varias oportunidades.
			</p>
			<p>
			El reconocido autor de literatura juvenil Javier Ruescas será el encargado de 
			adaptar esta obra para la pantalla grande. La película de “Boulevard” será 
			producida en España, país donde también se publicará su edición física el 
			próximo 24 de febrero.
			</p>
				
			<p>
			Todas las palabras de su madre cobran sentido y las toma como una opción cuando 
			conoce a Harry Beckinsale, un licenciado en derecho, dos años mayor que ella. 
			Él tiene su vida en orden y esta dispuesto a ser el nuevo eslabón para ella.
			</p>
		</section>
			<header id="hola3">
			<p>
				En 2019, Penguin Random House le ofreció llevar Boulevard -en donde muere 
				Luke Howland un 5 de diciembre- a formato físico; ahora tendrá su segunda 
				parte y llegará a la pantalla grande.
			</p>
			<p>
				Este libro es precioso, la historia es muy bonita te hace sentir muchas 
				emociones. El final es muy triste te hace llorar bastante. La historia de 
				amor entre los personajes es inexplicable de lo bonita que es. Sin duda lo 
				recomiendo leer muchísimo, engancha mucho.
			</p>
			<p>
				La saga Boulevard está compuesta por la trilogía principal que da comienzo 
				con la novela homónima Boulevard, le sigue Después de él y finaliza con 
				Antes de ella. A estos tres libros le sigue la novela Eterno, que narra 
				Boulevard desde el punto de vista de Luke.
			</p>
			<p>
				Luke: Al final todos terminamos igual, en un Boulevard de sueños rotos. 
				Eres mi Boulevard de esperanas.

			</p>
			</header>
			<section id="hola4">
			<p>
			Luke Howland es un chico de 19 años, rubio bastante alto y con sus ojos 
			característicos azul eléctrico, tiene la piel clara y tiene un pirsing en 
			el labio.
			</p>
			<p>
			La escritora Flor M Salvador nos trae la historia de amor entre Luke Howland 
			y Hasley Weigel. Una pareja que no se ajusta al prototipo de pareja perfecta, 
			pero sin proponerlo encarnan una unión única. Ella era para él y él era para
			ella.
			</p>
			
			<p>
			El hermano de Luke Howland muere en un accidente de tránsito mientras ambos 
			discutían.. 
			</p>
			
			<p>
			Una frase que tiene un gran significado, se dice que es una metáfora, cuando
			un sueño muere alimenta al Boulevard, En lo personal lo relaciono con la 
			muerte, que da a entender que al final todos terminamos igual, que al final 
			todos nos vamos a morir, por eso esa frase tiene un gran significado, 
			significa vivir la vida, ...
			</p>
			
			<p>
			es que hasley estaba en un carril y hiba pasando un camion luke la vio y la 
			quito del carrir pero el quedo hay para que a hasley no le pasara nada y el
			camion practicamente lo atropello , despues llego al hospital muy grabe y 
			murio de un infarto celebral 
			</p>
			
			<p>
			El libro nos cuenta la historia de Hasley Weigel una chica de 18 años con 
			una vida normal, personas que la quieren y uno que otro problema.
			</p>
			
			<p>
			Este libro cuenta la historia de Hasley, una joven estudiante un poco torpe 
			e ingenua, que termina relacionada con Luke, un chico con fuertes problemas 
			familiares y adicto a las drogas. La misma autora dice que Hasley y Luke no 
			son el claro ejemplo de almas gemelas ni el prototipo de una pareja perfecta…
			</p>
		</section>
		<footer id="pie">
			<h6><a href="">consulta nuestra polica de privacidad.</a><h6>
		</footer>
	</body>
</html>