<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>COMIDA</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<header id="C">
		
			COMIDA SALUDABLE
			
		</header>
		<div id="D">
									
				<td><button><a href="/M%20Y%20L/Menu%20de%20opciones.html">"visita nuestro menu al cliente :)"</td></button></a>
									
		</div>
		<section id="hola1">
			<center><img src="saludable.jpg" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>Llevar una alimentación sana y equilibrada debería ser la norma general en nuestro día a día (aunque de vez en cuando nos demos algún que otro capricho). Es algo que parece muy fácil ponerlo en práctica, pero no siempre es sencillo de cumplir; los distintos ritmos de vida, las obligaciones... pueden volverse en nuestra contra a la hora de encontrar la inspiración que necesitamos para cocinar. Por esta razón, te dejamos una lista con 35 comidas saludables para que puedas elegir la que más te guste y dar rienda suelta a tu faceta de 'cocinillas'. ¡Tienes para todo el mes!</p>
		</section>
		<header id="hola3">
			<p>
				Elabora de forma sencilla en casa unas deliciosas berenjenas rellenas. Una receta muy sencilla, rápida y saludable que hará las delicias de toda la familia. Te la dejamos aquí paso a paso en vídeo.
			</p>
			<p>
				Lava bien las berenjenas y pártelas por la mitad a lo largo. Vacíalas y cuécelas 5 minutos al vapor. Ponlas boca abajo para que suelten el exceso de líquido.
			</p>

		</header>
			
		<section id="hola6">
			<p>
				 Lava toda la verdura y córtala en dados.
			</p>
			<p>
				Sofríe la cebolleta y los pimientos durante 10 minutos en una cazuela con aceite. Agrega la berenjena y calabacín y déjalo 10 minutos más. Sazona, incorpora la salsa de tomate, mezcla y retira del fuego. Precalienta el horno a 200 °C.
			</p>
			<p>
				 Rellena las medias berenjenas con las verduras y ponlas en una bandeja. Casca un huevo sobre cada una y espolvoréalas con el queso. 
			</p>
		</section>
			
			<header id="hola2">
			<p>
				Hornéalas hasta que el huevo se cuaje y sírvelas.
			</p>
			<p>
				Las alcachofas siempre son un acierto para todo tipo de recetas saludables (descubre más recetas con alcachofas). Se trata de una hortaliza rica en sustancias activas muy beneficiosas para tu organismo que no puede faltar en la dieta. Pero, ¿cómo hacer con este alimento, un plato más apetecible y delicioso? Mira, mira:
			</p>
			<p>
				Precalentar el horno a 180?°C.
			</p>
			<p>
				Pelar los tallos de las alcachofas, sin cortarlos; retirar las hojas exteriores y regarlas con el zumo del limón. Pasarlas a la placa, cubrirlas con papel vegetal y hornear 40 minutos. Darles la vuelta y asarlas 10 minutos más.
			</p>
	</body>
</html>