<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>COMIDA</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<header id="A">
		
			<marquee>COMIDA CORRIDA</marquee>
		
		</header>
		<div id="B">
									
				<td><button><a href="/M%20Y%20L/Menu%20de%20opciones.html">"visita nuestro menu al cliente :)"</td></button></a>
									
		</div>
		<section id="hola1">
			<center><img src="comida corrida.jpg" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>Entradas de comida corrida</p>
		</section>
		<header id="hola3">
			<p>
				La comida corrida es una de las joyas escondidas dentro de la gastronomía mexicana y es que nadie puede resistirse a esos platillos caseros tan suculentos que se encuentran dentro de las fonditas. El secreto que las hace tan exitosas es que con ingredientes sencillos, se pueden preparar manjares fáciles y rápidos así que, para que también lo disfrutes en casa, a continuación te presentamos un menú rápido de comida corrida.
			</p>
			<p>
				Generalmente las entradas de comida corrida consisten en opciones calientes y ligeras que se adaptan a todos los gustos, como sopas, caldos y cremas.
			</p>

		</header>
			
		<section id="hola6">
			<p>
				Sopa de garbanzos con espinaca
			</p>
			<p>
				Crema de papa con tocino
			</p>
			<p>
				Sopa de letras con verduras
			</p>
		</section>
			
			<header id="hola2">
			<p>
				Para el segundo plato siempre puedes elegir entre arroz, ensalada o alguna otra guarnición sencilla pero muy sabrosa.
			</p>
			<p>
				Arroz poblano
			</p>
			<p>
				Ensalada de lentejas saludable
			</p>
			<p>
				Puré de papa sin lácteos
			</p>
			</header>
	</body>
</html>