<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>Damian</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<div id="hola">
			<marquee>Damian</marquee>
		</div>
		<nav id="F">
									
				<<td><button><a href="/M%20Y%20L/libros.html">"Libreria Maga ;)"</td></button></a>
									
		</nav>
		<section id="hola1">
			<center><img src="damian.jpg" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>
			Es una chica normal, buena. O eso parece. En el fondo tiene varios secretos, y uno de ellos se llama Damián. Es su peculiar vecino, que siempre le dio la impresión de estar ocultando algo y a quien ella trató de descifrar sin éxito.
			</p>
			
			<p>
			Al final, PAdme descubre que Damián no sentía amor por ella, sino una obsesión que la ha llevado justo al punto en el que está. Acaban de derrotar a los novenos de la mansión y Nicolas los ha llevado a su refugio, donde protege a los novenos que han decidido tener otra vida.
			</p>

		</section>
			<header id="hola3">
			<p>
				El final de Damien | Apple TV (ES) Vuelve el Anticristo, pero esta vez, el poder del maligno ya no reside en manos de un niño. Damien Thorn tiene 32 años, y pronto se convertirá en el embajador de los Estados Unidos en Inglaterra.
			</p>
			<p>
				
			Se encuentra enamorado de Elisa desde la primera vez que la ve. Muere en un percance causado por narcos.
			<p>
				La senadora Padmé Amidala de Naboo quedó embarazada durante las Guerras Clon por el Caballero Jedi Anakin Skywalker. Su embarazo resultó en el parto de los gemelos Luke Skywalker y Leia Organa.
			</p>
			</p>
			</header>
			<section id="hola4">
			<p>
			Es Palpatine quien le mete las pesadillas en la cabeza a Anakin, quien siembra la semilla del miedo a la pérdida. Así que, en realidad, es Palpatine quien mata a Padmé.
			</p>
			<p>
			Con Eris, a quien le dio una oportunidad y creyendo que nada de lo que estaba pasando era cierto, pero Eris es una traidora, no merecía que la ayudasen, merecía morir. Eris, quién nos hizo creer que ayudaría a Padme a salvar a Alicia, pero fue ella quién apuntó a Padme con un arma.
			</p>
			
			<p>
			El hermano de Luke Howland muere en un accidente de tránsito mientras ambos 
			discutían.. 
			</p>
		</section>
		<footer id="pie">
			<h6><a href="">consulta nuestra polica de privacidad.</a><h6>
		</footer>
	</body>
</html>