<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>Despues de el (Boulevard #2)</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<div id="hola">
			<marquee>Despues de el</marquee>
		</div>
		<nav id="F">
									
				<td><button><a href="/M%20Y%20L/libros.html">"Libreria Maga ;)"</td></button></a>
									
		</nav>
		<section id="hola1">
			<center><img src="despues de el.jpg" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>
			Después de él Flor M. Salvador 3.81 15,670 ratings1,314 reviews Después de la muerte de Luke. Hasley debe seguir con su vida, viviendo de su primer amor. Las sabias palabras de su madre diciéndole que debía continuar, que aún era joven y podía encontrar a alguien mas, no eran aceptadas para ella.
			</p>
			
			<p>
			Estoy completa y eternamente agradecida con cada uno de ustedes
por formar parte de esta travesía a través de mis escritos, por seguir
con la lectura a pesar de todo.
			</p>
			
			<p>
			Epílogo dedicado a mi madre, porque aunque físicamente tu no
seas eterna, tu alma seguirá existiendo aún yo tengo memoria. Eres
mi más sincero te amo.
			</p>

		</section>
			<header id="hola3">
			<p>
				Sin embargo, la vida está llena de varias oportunidades. Quizá Luke
no la tuvo, pero Hasley bien sabía que él habría querido que ella no
mirara hacia atrás y continuara su camino, trazando sus metas y
cumpliendo sus sueños, pero que jamás lo olvidara.
			</p>
			<p>
				Todas las palabras de su madre cobran sentido y las toma como una
opción cuando conoce a Harry Beckinsale, un licenciado en
derecho, dos años mayor que ella. Él tiene su vida en orden y está
dispuesto a ser el nuevo eslabón para ella.
			</p>
			<p>
				¿Será está la nueva oportunidad para que los sueños de Hasley
puedan descansar en paz junto a la memoria de Luke?
			</p>
			</header>
			<section id="hola4">
			<p>
			Dicen que el primer amor nunca se olvida, mucho menos cuando fue
alguien quien te amó con todo su ser, quien jamás te falló, ni mucho
menos te dejó cuando más lo necesitabas. Quien siempre estuvo
ahí para ti, en las buenas y en las malas.
			</p>
			<p>
			Tal vez la vida da muchas vueltas, y nunca sabes en qué momento
tu camino tendrá un final. Porque todos tenemos un final, unos más
trágicos que otros, algunos por decisión propia y otros sin querer
irse.
			</p>
			
			<p>
			Pero bien dicen "debes continuar tu camino", porque al final, no hay
obstáculos, solo el recuerdo de tu primer amor. No lo olvidarás, por
supuesto que no, porque olvidar significa mucho, porque tendrás
que recordarlo siempre, porque siempre habrá algo que lo haga, un
color, un detalle, una caricia, una palabra... un lugar.
			</p>
		</section>
		<footer id="pie">
			<h6><a href="">consulta nuestra polica de privacidad.</a><h6>
		</footer>
	</body>
</html>