<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>Los ojos de mi princesa</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<div id="hola">
			<marquee>Los ojos de mi princesa</marquee>
		</div>
		<nav id="F">
									
				<td><button><a href="/M%20Y%20L/libros.html">"Libreria Maga ;)"</td></button></a>
									
		</nav>
		<section id="hola1">
			<center><img src="los ojos de mi princesa.JFIF" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>
			«Los ojos de mi princesa» relata la historia de José Carlos, un joven estudiante de quince años, que se enamora de una joven compañera del colegio a la que él llama Sheccid, cuyo nombre real es Lorenna Deghemteri. José Carlos la nombra Sheccid, inspirado por las historias que desde niño le contaba su abuelo acerca de una princesa muy bella y de ojos hermosos, que ayudó a que un hombre apresado, se olvidara de su venganza contra aquellos que lo condenaron, haciendo que recuperara su buen corazón para poder así salir del lugar donde se encontraba y salir adelante, por su enamorada. Sin embargo, este prisionero nunca pudo confesar su amor a la princesa. José Carlos tendrá que superar muchos problemas para por fin estar cerca de su princesa. José Carlos escribe un libro inspirado de Sheccid.
			</p>
			
			<p>
			Dicha obra contiene dos partes, relatadas por José Carlos, y una tercera parte relatada por Lorenna, contándonos que es lo que pasaba con ella mientras José Carlos la intentaba conquistar.
			</p>
			
			<p>
			La obra muestra una historia más amplia y sirve como precuela de la obra publicada en 1998 La fuerza de Sheccid del mismo autor.
			</p>

			</p>
		</section>
			<header id="hola3">
			<p>
				Los ojos de mi princesa se convirtio en el segundo superventas[cita requerida] para Carlos Cuauhtémoc Sánchez, con de más de un millón de libros vendidos alrededor del mundo, el segundo superventas del autor tras Volar sobre el pantano de 1995.[
			</p>
			<p>
				Este libro es precioso, la historia es muy bonita te hace sentir muchas 
				emociones. El final es muy triste te hace llorar bastante. La historia de 
				amor entre los personajes es inexplicable de lo bonita que es. Sin duda lo 
				recomiendo leer muchísimo, engancha mucho.
			</p>
				La saga los ojos de mi princesa esta compuesta por la trilogía principal que da comienzo 
				con la novela homónima Boulevard, le sigue Después de él y finaliza con 
				Antes de ella. A estos tres libros le sigue la novela Eterno, que narra 
				Boulevard desde el punto de vista de Luke.

			</header>
			<section id="hola4">
			<p>
			
			</p>
			<p>
			José Carlos: nos narra las experiencias de su vida para conseguir a su Sheccid
			</p>
			Lorenna Deghemteri: estudiante de 2.º año que posteriormente será bautizada como Sheccid.
			<p>
			Mario Ambrosio: Amigo de José Carlos, luego formara parte del Club de la Dicha. En el libro nos dice que él es uno de los primeras personas infectadas con el sida.
			</p>
		</section>
		<footer id="pie">
			<h6><a href="">consulta nuestra polica de privacidad.</a><h6>
		</footer>
	</body>
</html>