</1DOCTYPE><html>
<html lang"es">
	<head>
		<title>MAGALI Y LAX</title>
		<meta charset=""/>
		<meta name="description" content="ejemplo de html5/">
		<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
		<link rel="stylesheet" href="estilos (2).css">
	</head>
	<body>
	<div id="agrupar">
		<nav class="fondo">
			<header id="cabecera">
				<marquee><h1 class="name">LA CONTAMINACI&Oacute;N</h1></marquee>
			</header>
			<header id="emm">
				<img src="1.jpg" title="CONTAMINACI&Oacute;N" width="680px" height="480px">
			</header>
		</nav class="fondo_dos">
		<nav class="fondo">
		<div id="menu_dos">
			<ul>
				<li><h1><a target="_blank" href="https://www.nationalgeographic.es/medio-ambiente/la-contaminacion-del-aire">AIRE</a></h1></li>
		    	<li><h2><a target="_blank" href="https://www.iberdrola.com/sostenibilidad/contaminacion-del-suelo-causas-efectos-soluciones">SUELO</a></h2></li>
		    	<li><h3><a target="_blank" href="https://www.lifeder.com/contaminacion-rios/">RIOS</a></h3></li>
	        	<li><h4><a target="_blank" href="https://www.worldwildlife.org/descubre-wwf/historias/la-degradacion-de-los-bosques-por-que-afecta-a-las-personas-y-la-vida-silvestre">BOSQUES</a></h4></li>
			</ul>
		</div>	
		</nav class="fondo_tres">
		<section id="nose">
			 <p>los principales contaminaciones del agua incluyen las bacterias, virus, parasitos, 
                plasticos, desechos quimicos.
                tambien la contaminacion del agua ocurre cuando sustancias nocivas 
                 a menudo productos quimicos o microorganismos contaminando rios,lago, 
                oceanos,acuifero, u otros cuerpos del agua.
            </p>
		</section>
			<aside id="eso">
				<ul>
					<li><h3 class="tres">causas de la contaminaci&oacute;n del agua:</h3></li>
					<li><h3 class="tres">*calentamiento global*</h3></li>
            		<li><h3 class="tres">*deforestacion*</h3></li>
			 		<li><h4 class="tres">*derrames de combustible*</h4></li> 
					<li><h4 class="tres">*contaminacion del aire*</h4></li> 
			 	</ul>
            </aside>
						<article>
								
							<div id="tres">
								<header>
									<h1 class="seis">LOS DISTINTOS TIPOS DE CONTAMINACI&Oacute;N</h1>
								</header>
							
								
									<p> La contaminación del suelo es una degradación de la 
			calidad del suelo asociada a la presencia de sustancias 
			químicas. Se define como el aumento en la concentración
			de compuestos químicos, que provoca cambios
			perjudiciales y reduce su empleo potencial, tanto por
			parte de la actividad humana, como por la naturaleza.
		</p>
		
<p>
Se habla de contaminación del suelo cuando se introducen sustancias 
o elementos de tipo sólido, líquido o gaseoso que ocasionan que se 
afecte la biota edáfica, las plantas, la vida animal y la salud 
humana.
</p>
<p>
El suelo generalmente se contamina de diversas formas: cuando se 
rompen tanques de almacenamiento subterráneo, cuando se aplican 
pesticidas,
por filtraciones del alcantarillado y pozos ciegos, o por 
acumulación directa de productos industriales o radioactivos.
</p>
<p>
Contaminación del suelo causada por depósitos subterráneos de
almacenamiento de alquitrán.
Los productos químicos más comunes incluyen derivados del petróleo,
solventes, pesticidas y otros metales pesados. 
Este fenómeno está estrechamente relacionado con el grado de
industrialización e intensidad del uso de productos químicos. 
Entre los contaminantes del suelo más significativos se encuentran
los hidrocarburos como el petróleo y sus derivados, los metales
pesados frecuentes en baterías, el Metil tert-butil éter (MTBE), 
los herbicidas y plaguicidas generalmente rociados a los cultivos
industriales y monocultivos y organoclorados producidos por la 
industria. También los vertederos y cinturones ecológicos que 
entierran grandes cantidades de basura de las ciudades. Esta 
contaminación puede afectar a la salud de forma directa y al 
entrar en contacto con fuentes deagua potable.
</p>
<p>
En lo que concierne a la contaminación de suelos su riesgo es
 primariamente de salud, de forma directa y al entrar en contacto 
 con fuentes de agua potable. 
</p>
							</div>
							
						</article>
						
						<div id="dos">
							<h1 class="doce">MODOS DE PREVENIR ESTO</h1>
							<marquee><h4 class="trece">Hacer mas conscientes a las personas</h4>

							<h4 class="catorce">reciclar</h4>

							<h4 class="quince">no tirar tanta basura</h4>
							
							<h4 class="diesiseis">usar menos veiculos</h4></marquee>
								
						</div>
					
						<div id="veinte">
							<p><h2 class="siete">CAUSAS DE LA CONTAMINACI&Oacute;N</h2></p>
								<p>
La delimitación de las zonas contaminadas y la resultante
 limpieza de ésta son tareas que consumen mucho tiempo y dinero,
  requiriendo extensas habilidades de geología, hidrografía,
   química y modelos a computadora.
</p>
<p>
Los principales causantes de la contaminación del suelo son:
los plásticos arrojados sin control, vertidos incontrolados 
de materia orgánica proveniente de depuradoras o actividades 
agropecuarias,aplicación de plaguicidas (insecticidas, 
herbicidas, fungicidas) sin seguir las instrucciones de
seguridad o sustancias radioactivas provenientes de ensayos 
nucleares o de instalaciones industriales que contaminan 
el suelo natural o artificial. La contaminación del suelo se ha
establecido como una importante alteración que se ve reflejada 
directamente en la superficie terrestre, a partir de diferentes
causas que estiman empeorar con el paso del tiempo si no se 
toman las medidas adecuadas en el planeta.
</p>
								<h3 class="ocho">residuos de basura en areas naturales</h3>
Las principales fuentes antropogénicas de contaminación del 
suelo son los químicos, las actividades industriales, residuos
domésticos, ganaderos y municipales, agroquímicos y productos
derivados del petróleo.
</p>
</p>
Estos químicos son liberados al ambiente accidentalmente, 
por ejemplo, por derrames petroleros o filtración de vertederos
 o, intencionalmente, como sucede con el uso de fertilizantes y 
 plaguicidas, irrigación conaguas residuales no tratadas o
  aplicación al suelo de lodos residuales.
</p>
								<h3 class="nueve">demasiadas companias de industrializacion</h3>
								<p>
Se habla de contaminación del suelo cuando se introducen sustancias 
o elementos de tipo sólido, líquido o gaseoso que ocasionan que se 
afecte la biota edáfica, las plantas, la vida animal y la salud 
humana.
</p>
<p>
El suelo generalmente se contamina de diversas formas: cuando se 
rompen tanques de almacenamiento subterráneo, cuando se aplican 
pesticidas,
por filtraciones del alcantarillado y pozos ciegos, o por 
acumulación directa de productos industriales o radioactivos.
</p>
							
								<h3 class="diez">poco apoyo laboral para evitar esto</h3>
								<p>
El suelo generalmente se contamina de diversas formas: cuando se 
rompen tanques de almacenamiento subterráneo, cuando se aplican 
pesticidas,
por filtraciones del alcantarillado y pozos ciegos, o por 
acumulación directa de productos industriales o radioactivos.
</p>
<p>
Contaminación del suelo causada por depósitos subterráneos de
almacenamiento de alquitrán.
Los productos químicos más comunes incluyen derivados del petróleo,
solventes, pesticidas y otros metales pesados. 
Este fenómeno está estrechamente relacionado con el grado de
industrialización e intensidad del uso de productos químicos. 
Entre los contaminantes del suelo más significativos se encuentran
los hidrocarburos como el petróleo y sus derivados, los metales
pesados frecuentes en baterías, el Metil tert-butil éter (MTBE), 
los herbicidas y plaguicidas generalmente rociados a los cultivos
industriales y monocultivos y organoclorados producidos por la 
industria. También los vertederos y cinturones ecológicos que 
entierran grandes cantidades de basura de las ciudades. Esta 
contaminación puede afectar a la salud de forma directa y al 
entrar en contacto con fuentes deagua potable.
</p>
							
								<h3 class="once">por la falta de consciencia</h3>
								Se habla de contaminación del suelo cuando se introducen sustancias 
o elementos de tipo sólido, líquido o gaseoso que ocasionan que se 
afecte la biota edáfica, las plantas, la vida animal y la salud 
humana.
</p>
<p>
El suelo generalmente se contamina de diversas formas: cuando se 
rompen tanques de almacenamiento subterráneo, cuando se aplican 
pesticidas,
por filtraciones del alcantarillado y pozos ciegos, o por 
acumulación directa de productos industriales o radioactivos.
</p>
								
						</div>
	</div>
		<section>
			<a href="Menu%20de%20opciones.html">Menu de opciones</a>
		</section>
		<footer id=pie>
			<h6><a href="">consulta nuestra polica de privacidad.</a><h6>
		</footer>
		
	</body>

</html>