<!DOCTYPE html>
<html lang"es">
	<head>
		<title>MENU</title>
		<meta charset=""/>
		<meta name="description" content="ejemplo de html5/">
		<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
		<link rel="stylesheet" href="A.css">
	</head>
	<div id="II">
		<td><button><a href="/M%20Y%20L/comida%20corrida.html">COMIDA CORRIDA</td></button></a>
	
	</div>
	<div id="II">
		<td><button><a href="/M%20Y%20L/libros.html"></td>LIBROS</button></a>
	
	</div>
	<div id="II">
		<td><button><a href="/M%20Y%20L/comida%20saludable.html">COMIDA SALUDABLE</td></button></a>
		
	</div>
	<div id="II">
		<td><button><a href="/M%20Y%20L/turismo.html">TURISMO</td></button></a>
		
	</div>
	<div id="II">
		<td><button><a href="/M%20Y%20L/M%20y%20L.html">PRINCIPAL</td></button></a>
	</div>