<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>Perfectos mentirosos</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<div id="hola">
			<marquee>Perfectos mentirosos</marquee>
		</div>
		<nav id="F">
									
				<td><button><a href="/M%20Y%20L/libros.html">"Libreria Maga ;)"</td></button></a>
									
		</nav>
		<section id="hola1">
			<center><img src="Perfectos mentirosos.jfif" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		<section id="hola2">
			<p>
			Perfectos mentirosos Alex Mírez 3.93 43,054 ratings3,693 reviews Una historia llena de mentiras y secretos, atracción y odio en la que nadie parece decir la verdad. ¿Hay algo más adictivo que desenmascarar a los Perfectos mentirosos? Las mejores historias de Wattpad ahora también en papel.
			</p>
			
			<p>
			Sinopsis: Una historia llena de mentiras y secretos, atracción y odio en la que nadie parece decir la verdad. ¿Hay algo más adictivo que desenmascarar a los Perfectos mentirosos?
			</p>

		</section>
			<header id="hola3">
			<p>
				Jude acaba de llegar a una de las universidades más elitistas del mundo, pero ya se ha dado cuenta que ahí todo se mueve alrededor de las fiestas, los cotilleos y los ligues entre estudiantes. Y que todo eso gira en torno a un trio irresistible: los hermanos Cash. Son vacilones, astutos, pero insoportablemente atractivos y poderosos. Y por encima de todo están acostumbrados a liderar el campus con sus juegos de niños ricos. Lo que no saben es que Jude tiene un plan: sacar a la luz sus más oscuros y perversos secretos, esos tan bien escondidos tras el lujoso apellido Cash.
			</p>
			<p>
			Tras meses desde su lanzamiento en papel, decidí lanzarme con la primera parte de la bilogía Perfectos mentirosos. Las recomendaciones no cesaban en ninguna de mis redes sociales, y como buen fan de este tipo de novelas, tenía que probarla. 
			</p>

			</header>
			<section id="hola4">
			<p>
			Lectura increíblemente adictiva, se te pasan las páginas como si nada y de pronto te das cuenta que te lo has terminado. Me ha sacado de un bloqueo lector de meses y por eso siempre lo tendré en un lugar especial. No es el primer libro que leo de Alex y no será el último.
			</p>
			<p>
			Perfectos mentirosos Alex Mírez 3.93 43,054 ratings3,693 reviews Una historia llena de mentiras y secretos, atracción y odio en la que nadie parece decir la verdad. ¿Hay algo más adictivo que desenmascarar a los Perfectos mentirosos? Las mejores historias de Wattpad ahora también en papel.
			</p>
		</section>
		<footer id="pie">
			<h6><a href="">consulta nuestra polica de privacidad.</a><h6>
		</footer>
	</body>
</html>