<!DOCTYPE html>
<html lang"es">
	<body>
		<head>
			<title>TURISMO</title>
			<meta charset=""/>
			<meta name="description" content="ejemplo de html5/">
			<meta name="keywords" content="HTML5, CSS3, Javaescript"/>
			<link rel="stylesheet" href="A.css">
		</head>
		<header id="G">
		
			<marquee>TURISMO</marquee>
			
		</header>
		<div id="H">
									
				<td><button><a href="/M%20Y%20L/Menu%20de%20opciones.html">"visita nuestro menu al cliente :)"</td></button></a>
									
		</div>
		
		<section id="hola1">
			<center><img src="turismo.jpeg" title="Toc Toc" width="500px" height="500px"></center>
		</section>
		
		<section id="hola2">
			<p>
			El turismo es el desplazamiento de las personas de manera temporal y voluntaria. Dentro de este concepto deben ser incluidos las relaciones humanas que conllevan y la prestación de servicios. Si bien los motivos del turismo son variados, suelen ser relacionados con el ocio.
			
			</p>
			
			<p>
			El turismo resulta muy importante desde el punto de vista social, cultural y económico. Gracias al turismo aumenta notablemente la inversión en construcciones de infraestructura, y edificaciones, genera un mayor nivel de desarrollo en las áreas involucradas, los medios de trasporte suelen ser mejorados en cuanto a la calidad y la frecuencia, así como también aumentan las divisas, las tasas de desempleo disminuyen notablemente, generando un mayor bienestar en las comunidades afectadas.
			</p>
			
			<p>
			Desde el punto de vista cultural resulta muy útil ya que no solo permite la apreciación de cultura, tradiciones, geografía, artesanías  y otros aspectos de miembros ajenos a la comunidad, sino que también permite la valorización y la concientización dentro de la misma comunidad. Además en un medio de intercambio cultural, donde personas de diversos orígenes conviven y compartes ideas y costumbres.

			</p>
			<p>
			Cabe destacar que no todos los turistas tienen las mismas características u objetivos. A grandes rasgos pueden ser definidos cuatro grandes grupos:


			</p>
			<p>
			<h2>Sectores populares.</h2> El primero está compuesto por los sectores populares. Está constituidos por trabajadores asalariados. Se considera que en nuestro país el fomento para el turismo de estos sectores comenzó en la década de los cuarenta. Muchas veces obtiene beneficios por parte del Estado u otras instituciones en las que trabajan. Suelen ser viajes más bien cortos, con fines exclusivamente vacacionales. No suele haber agencias de viajes de por medio, son realizados por cuenta propia. Muchas veces son utilizados alojamientos creados por el estado y no suelen variar el lugar de su estadía.

			</p>
				
			<p>
			<h2>Clase media.</h2> El segundo grupo está compuesto por personas pertenecientes a la clase media, es decir trabajadores estatales, profesionales y empleados de altas categorías. Generalmente suelen movilizarse por medios propios, en tiempos de vacaciones. Utilizan gran parte de sus ahorros en servicios de buena calidad. Los lugares visitados suelen ser turísticos y las estancias se caracterizan por ser breves.

			</p>
		</section>
		
			<header id="hola3">
			<p>
			<h2>Clase alta.</h2> El tercer grupo está compuesto por los miembros de las clases más altas. Como son sectores con medios necesarios muchas veces no se limitan a sus países de origen. Además sus estadías suelen ser prolongadas y diariamente realizan muchos gastos. Suelen utilizar diversos servicios como tours que incluyan guías o traductores en caso de no conocer el idioma. Este tipo de viajes suele estar organizados por agencias de turismos. Los medios de trasportes que utilizan los miembros de este grupo suelen ser veloces.


			</p>
			<p>
			<h2>Jovenes.</h2> El cuarto grupo está compuesto por jóvenes, en su gran mayoría estudiantes. Es para estos turistas que muchas veces son diseñados otros lugares para la estadía tales como, hostels, albergues, etc. Incluso muchos jóvenes optan por utilizar los campings. Además en ciertos países disfrutan de privilegios en cuanto al precio de los medios de trasporte o en la comida. Estos viajes suelen ser muy económicos y muchos optan por la espontaneidad. Es decir que no tienen un destino fijo sino que cambian rápidamente su lugar de estadía. Es por ello que no son utilizadas ni agencias ni guías turísticas.

			</p>
			<p>
				Turismo es un término que comprende las actividades que realizan las personas durante sus viajes y estancias en lugares distintos a su entorno habitual durante un período de tiempo inferior a un año
			</p>
			</header>
			
			<section id="hola4">
			<p>
			La Organización Mundial del Turismo, en el año 1991, estableció que el turismo era el conjunto de actividades realizadas por personas durante los viajes, en locales situados fuera de su residencia habitual, por un período consecutivo que no excediese un año por motivos de ocios, negocios y otros.

			</p>
			<p>
			Nuevo año significa nuevos propósitos, y si este 2022 te pusiste como reto “viajar más”, llegaste a la nota indicada, pues aquí te diremos los mejores lugares para visitar en México.
			</p>
			
			<p>
			El sueño de muchas personas es recorrer todo el país, y aunque parece complicado no hay nada mejor que comenzar poco a poco. Así que en Animal MX nos dimos a la tarea de buscar un lugar espectacular –y quizás no tan turístico/popular como otros– en cada estado de la República.
			</p>
			
			<p>
			<h2>AGUASCALIENTES – PARQUE ECOLÓGICO EL SABINAL</h2>
México tiene un montón de tesoros naturales, y si estás en Aguascalientes te tienes que detener en este pulmón verde.
			</p>
			
			<p>
			Su nombre se debe a que los pobladores de este lugar son sabinos, mejor conocidos como ahuehuetes, que tienen unos 400 años de vida. El lugar es perfecto para caminar y admirar la flora y fauna.
			</p>
			
			<p>
			<h2>BAJA CALIFORNIA – LOS HUMEDALES, EN SAN QUINTÍN</h2>
No te claves solo visitando Ensenada, Tijuana o Rosarito. Uno de los lugares para visitar en México, en Baja California, se encuentra en el pequeño poblado de San Quintín.
			</p>
			
			<p>
			Aquí te enamoras de su bahía, pues puedes encontrar una zona de humedales que son importantes a nivel internacional, pues son ecosistemas que ayudan a purificar el aire, equilibrar el nivel del agua y contienen flora y fauna única.
			</p>
		</section>
	</body>
</html>