<!DOCTYPE html>
<html lang="es">
<head><h1><b> Tabla HTML </h1></head></b>

<body>

<table border=1>
    <Tr>
        <td>

            <script>
                monto=prompt("Cual es tu monto")
                mensualiodades=prompt("A cuantas mensualidades deseas ")
                {
                    document.write("<tr><td>" + "Mes" + ", "+ "Deuda" + ", "+ "Descuento" + ", "+ "Debes " + "<td><tr>");
                }
                for (let i = 1; i <=mensualidades; i++)
                 {
                document.write(i);
                 }
            </script>

        </td>
    </Tr>
</table>



</body>
</html>
