<!DOCTYPE html>
<html lang="es">
<head><h1><b> Tabla HTML </h1></head></b>

<body><center>
<h1>
<table border=1>
    <Try>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </Try>


</table>
<table border=1>
    <Try>
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
        <td>e</td>
    </Try>
</table>
<table border=1>
    <Try>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td> <img src="C:\Users\amaro\OneDrive\Desktop\Plataforma-calificaciones\templates\descarga.JPEG" width="25" height="25">
        </td>
        <td>E</td>
    </Try>
</table>
<table border=1>
    <Tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
    </Tr>
</table>
</center>
<script>
    for (let i = 1; i <= 10; i++) {
        document.write(i + i + ","  );
    }
</script>

<table border=1>
    <Tr>
        <td>

            <script>
                for (let i = 1; i <= 10; i++) {
                    document.write(i + i + ","  );
                }
            </script>

        </td>
    </Tr>
</table>

<table border="1">
    <script>
        for (let i = 2; i <= 20; i+=2) {
        document.write("<tr><td>" + i + "</td></tr>");
        }
    </script>
</table>

<table border="1">
    <script>
        for (let i = 1; i <= 10; i++) 
        if (i % 2 == 0){
           document.write("<tr><td>" + i + "cachuate</td></tr>");
        } 
        else {
               document.write("<tr><td>" + i + "</td></tr>");
                }
    </script>
</table>
</body></h1>
</html>
